.community-header{

display:flex;

align-items:center;

gap:20px;

padding:25px;

background:white;

border-radius:24px;

margin-bottom:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}



.community-icon{

font-size:50px;

}



.community-info{

flex:1;

}



.community-info h1{

margin:0;

}



.community-info p{

color:#777;

}



.community-header button{

border:none;

padding:12px 22px;

border-radius:30px;

cursor:pointer;

font-weight:600;

}



.join{

background:#ff3d8d;

color:white;

}


.joined{

background:#eee;

color:#333;

}