.hero {

  min-height:100vh;

  display:flex;

  align-items:center;

  justify-content:center;

  position:relative;

  overflow:hidden;


  background:

  linear-gradient(
    135deg,
    #fff1f7,
    #f5f3ff,
    #eff9ff
  );


  padding:100px 20px;

}




.hero::before {

  content:"";

  position:absolute;

  width:500px;

  height:500px;

  background:#ff9ecb;

  border-radius:50%;

  filter:blur(120px);

  top:-150px;

  left:-150px;

}





.hero::after {

  content:"";

  position:absolute;

  width:500px;

  height:500px;

  background:#b9a7ff;

  border-radius:50%;

  filter:blur(120px);

  bottom:-150px;

  right:-150px;

}





.hero-content {

  max-width:800px;

  text-align:center;

  z-index:2;

}





.hero h1 {


  font-size:80px;

  line-height:1.05;

  font-weight:900;

  letter-spacing:-3px;

  color:#171717;


}





.hero h1 span {


  display:block;


  background:

  linear-gradient(
    90deg,
    #ff3d8d,
    #8b5cf6
  );


  -webkit-background-clip:text;


  color:transparent;


}





.hero p {


  max-width:650px;

  margin:30px auto;


  font-size:22px;

  line-height:1.6;

  color:#555;


}





.hero button {


  border:none;


  padding:18px 45px;


  border-radius:40px;


  font-size:20px;


  font-weight:700;


  cursor:pointer;


  color:white;


  background:


  linear-gradient(
    90deg,
    #ff3d8d,
    #8b5cf6
  );


  box-shadow:


  0 20px 40px rgba(139,92,246,.3);


  transition:.3s;


}





.hero button:hover {


  transform:translateY(-5px);


}






/* Floating cards */


.hero-card {


  position:absolute;


  background:white;


  padding:15px 25px;


  border-radius:25px;


  display:flex;


  align-items:center;


  gap:10px;


  font-size:20px;


  box-shadow:


  0 20px 50px rgba(0,0,0,.12);


  animation:float 5s infinite ease-in-out;


}





.hero-card span {


  font-size:14px;


  color:#555;


}




.card-one {


  top:25%;

  left:10%;


}





.card-two {


  top:35%;

  right:12%;


  animation-delay:1s;


}





.card-three {


  bottom:20%;

  left:15%;


  animation-delay:2s;


}





@keyframes float {


  0% {

    transform:translateY(0);

  }


  50% {

    transform:translateY(-20px);

  }


  100% {

    transform:translateY(0);

  }

}







@media(max-width:900px){


.hero h1 {

  font-size:55px;

}



.hero-card {


  display:none;

}


}