.desktop-nav {

  position: fixed;

  top: 25px;
  left: 50%;

  transform: translateX(-50%);

  width: 90%;
  max-width: 1200px;

  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 25px;

  background: rgba(255,255,255,0.75);

  backdrop-filter: blur(20px);

  border-radius: 40px;

  box-shadow:
  0 15px 40px rgba(0,0,0,0.12);

  z-index: 1000;

}



.desktop-nav h2 {

  font-size: 26px;

  font-weight: 800;

  background:
  linear-gradient(
    90deg,
    #ff3d8d,
    #8b5cf6
  );

  -webkit-background-clip:text;

  color:transparent;

}



.desktop-nav a {

  display:flex;

  align-items:center;

  gap:6px;

  text-decoration:none;

  color:#555;

  padding:10px 14px;

  border-radius:25px;

  transition:.3s;

}



.desktop-nav a:hover {

  background:#fff1f7;

  color:#ff3d8d;

}





.mobile-nav {

  display:none;

}





@media(max-width:700px){


.desktop-nav {

  display:none;

}



.mobile-nav {

  position:fixed;

  display:flex;

  justify-content:space-around;

  align-items:center;


  bottom:15px;

  left:50%;

  transform:translateX(-50%);


  width:92%;

  height:65px;


  background:

  rgba(255,255,255,0.85);


  backdrop-filter:blur(20px);


  border-radius:35px;


  box-shadow:

  0 10px 30px rgba(0,0,0,.15);


  z-index:1000;

}



.mobile-nav a {

  color:#555;

  display:flex;

  align-items:center;

  justify-content:center;

}



.mobile-nav svg {

  width:24px;

  height:24px;

}



.mobile-nav a:hover {

  color:#ff3d8d;

}



}