.story-strip{

display:flex;

gap:18px;

overflow-x:auto;

padding:18px 0;

}


.story-avatar{

display:flex;

flex-direction:column;

align-items:center;

cursor:pointer;

min-width:82px;

}


.story-avatar img{

width:68px;

height:68px;

border-radius:50%;

padding:3px;

object-fit:cover;

}


.story-avatar img.new{

border:3px solid #7c3aed;

}


.story-avatar img.viewed{

border:3px solid #d1d5db;

}


.story-avatar span{

margin-top:8px;

font-size:12px;

text-align:center;

max-width:70px;

overflow:hidden;

text-overflow:ellipsis;

white-space:nowrap;

}

.create-story{

background:white;

padding:18px;

border-radius:18px;

margin-bottom:20px;

box-shadow:
0 5px 15px rgba(0,0,0,.06);

}


.create-story textarea{

width:100%;

min-height:80px;

border:1px solid #ddd;

border-radius:12px;

padding:12px;

resize:none;

font-size:15px;

}


.create-story button{

margin-top:12px;

padding:10px 20px;

border:none;

border-radius:20px;

background:#7c3aed;

color:white;

cursor:pointer;

}

.story-viewer{

position:fixed;

inset:0;

background:rgba(0,0,0,.85);

display:flex;

align-items:center;

justify-content:center;

z-index:9999;

}


.story-box{

width:360px;

height:650px;

background:white;

border-radius:25px;

overflow:hidden;

position:relative;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}


.story-box img{

width:100%;

height:100%;

object-fit:cover;

}


.story-box h1{

width:100%;

height:100%;

display:flex;

align-items:center;

justify-content:center;

color:white;

text-align:center;

padding:20px;

}


.close-story{

position:absolute;

top:15px;

right:15px;

z-index:2;

border:none;

background:black;

color:white;

font-size:28px;

border-radius:50%;

width:40px;

height:40px;

}


.story-user{

position:absolute;

top:20px;

left:20px;

color:white;

font-weight:bold;

}


.story-actions{

position:absolute;

bottom:25px;

display:flex;

gap:20px;

}


.story-actions button{

font-size:25px;

border:none;

background:white;

border-radius:50%;

padding:10px;

}