.group-chat-box{

background:white;

border-radius:20px;

padding:20px;

}


.group-layout{

display:grid;

grid-template-columns:260px 1fr;

gap:20px;

}


@media(max-width:800px){

.group-layout{

grid-template-columns:1fr;

}

}