.profile-stats{

display:grid;

grid-template-columns:
repeat(5,1fr);

gap:18px;

margin-bottom:30px;

}


.stat-card{

background:white;

border-radius:22px;

padding:24px 15px;

text-align:center;

box-shadow:0 8px 25px rgba(0,0,0,.06);

transition:.25s;

}


.stat-card:hover{

transform:translateY(-5px);

}


.stat-icon{

font-size:28px;

margin-bottom:10px;

}


.stat-card h2{

margin:0;

font-size:30px;

color:#6d5dfc;

}


.stat-card span{

display:block;

margin-top:8px;

color:#666;

font-size:14px;

}



@media(max-width:1000px){

.profile-stats{

grid-template-columns:
repeat(3,1fr);

}

}


@media(max-width:600px){

.profile-stats{

grid-template-columns:
repeat(2,1fr);

}

}
