.social-stats{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(130px,1fr));
gap:15px;

}


.social-stats div{

background:white;
padding:20px;
border-radius:20px;
text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,.06);

}
