.events-page{

max-width:1000px;

margin:auto;

padding:30px;

}

.events-page h1{

margin-bottom:20px;

}

.events-page input{

width:100%;

padding:14px;

border-radius:12px;

border:1px solid #ddd;

margin-bottom:24px;

}