.new-chat-page{

max-width:700px;

margin:auto;

padding:40px 20px;

}



.new-chat-page h1{

font-size:32px;

margin-bottom:25px;

}



.chat-search{

display:flex;

align-items:center;

gap:10px;

background:white;

padding:14px 18px;

border-radius:30px;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

margin-bottom:25px;

}



.chat-search input{

border:none;

outline:none;

width:100%;

font-size:16px;

}




.new-user-card{

display:flex;

align-items:center;

gap:15px;

background:white;

padding:15px;

border-radius:20px;

margin-bottom:15px;

box-shadow:
0 10px 25px rgba(0,0,0,.07);

}



.new-user-card img{

width:55px;

height:55px;

border-radius:50%;

object-fit:cover;

}



.user-details{

flex:1;

}



.user-details h3{

margin:0;

}



.user-details p{

margin:5px 0;

color:#777;

}



.new-user-card button{

background:

linear-gradient(
135deg,
#ff3d8d,
#8b5cf6
);

color:white;

border:none;

padding:10px 20px;

border-radius:25px;

cursor:pointer;

}