.profile-page {

  max-width:1000px;
  margin:auto;
  padding:30px;

}



/* COVER */

.profile-cover {

  height:220px;
  border-radius:20px;

  background:
  linear-gradient(
    135deg,
    #ff758c,
    #667eea
  );

}



/* HEADER */

.profile-header {

  text-align:center;

  margin-top:-80px;

}



.profile-avatar {

  width:150px;
  height:150px;

  border-radius:50%;

  border:6px solid white;

  object-fit:cover;

}



.profile-header h1 {

  margin-top:15px;

  font-size:32px;

}



.profile-header h1 span {

  color:#4f46e5;

  font-size:18px;

}



.username {

  color:#777;

}



.bio {

  font-size:16px;

  margin:15px auto;

  max-width:500px;

}





/* STATS */


.profile-stats {

  display:flex;

  justify-content:center;

  gap:50px;

  margin:25px 0;

}



.profile-stats div {

  display:flex;

  flex-direction:column;

}



.profile-stats strong {

  font-size:22px;

}



.profile-stats span {

  color:#777;

}





/* BUTTONS */


.profile-actions {

  display:flex;

  justify-content:center;

  gap:15px;

}



.profile-actions button {


display:flex;

align-items:center;

gap:8px;


padding:12px 22px;


border:none;

border-radius:25px;


cursor:pointer;


background:#111;

color:white;


}





/* TABS */


.profile-tabs {


display:flex;

justify-content:center;

gap:50px;


margin:40px 0 25px;


border-bottom:1px solid #ddd;


}



.profile-tabs span {

padding:15px;

cursor:pointer;

color:#666;

}



.profile-tabs .active {

color:#111;

font-weight:600;

border-bottom:3px solid #ff4d6d;

}





/* SECTIONS */


.profile-section {

margin-top:30px;

}



.profile-section h2 {

font-size:22px;

}





.profile-card {


background:white;

padding:20px;

border-radius:18px;


box-shadow:
0 5px 20px rgba(0,0,0,.08);


line-height:1.8;


}





/* INTERESTS */


.interest-list {


display:flex;

flex-wrap:wrap;

gap:12px;


}



.interest-list span {


background:#f1f1f1;


padding:8px 16px;


border-radius:20px;


font-size:14px;


}






@media(max-width:700px){


.profile-page{

padding:15px;

}


.profile-cover{

height:150px;

}



.profile-stats{

gap:25px;

}



.profile-tabs{

gap:20px;

}



}