.profile-page{

max-width:900px;
margin:auto;
padding:40px;

}


.profile-card{

display:flex;
gap:30px;
align-items:center;

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}



.profile-card img{

width:160px;
height:160px;

border-radius:50%;

object-fit:cover;

}



.profile-info h1{

font-size:32px;

margin-bottom:10px;

}



.profile-actions a{

display:inline-block;

margin-top:20px;

padding:10px 25px;

border-radius:20px;

background:#ff4d6d;

color:white;

text-decoration:none;

}





.profile-stats{

display:flex;

justify-content:space-around;

margin:30px 0;

background:#fff;

padding:20px;

border-radius:20px;

}



.profile-stats a{

text-decoration:none;

color:#333;

text-align:center;

}



.profile-stats strong{

display:block;

font-size:25px;

}





.profile-section{

margin-top:30px;

}



.profile-box{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.05);

}




.interest-container{

display:flex;

gap:12px;

flex-wrap:wrap;

}



.interest-container span{

padding:8px 15px;

background:#f1f1f1;

border-radius:20px;

}