.settings-page{

max-width:700px;

margin:auto;

padding:40px 20px;

}


.settings-page h1{

font-size:32px;

margin-bottom:30px;

}



.settings-container{

background:white;

padding:20px;

border-radius:25px;

box-shadow:
0 15px 40px rgba(0,0,0,.12);

}



.settings-option{


display:flex;

align-items:center;

gap:18px;

padding:18px;

border-radius:18px;

cursor:pointer;

transition:.3s;


}



.settings-option:hover{

background:#fff1f7;

}



.settings-icon{


width:45px;

height:45px;

border-radius:50%;


display:flex;

align-items:center;

justify-content:center;


background:#ffe3f0;

color:#ff3d8d;


}



.settings-option h3{

margin:0;

font-size:17px;

}



.settings-option p{

margin:5px 0 0;

font-size:13px;

color:#777;

}



.settings-option div:nth-child(2){

flex:1;

}



.settings-option span{

font-size:28px;

color:#aaa;

}



.logout-button{


margin-top:30px;


width:100%;


display:flex;

justify-content:center;

align-items:center;

gap:10px;


padding:15px;


border:none;

border-radius:20px;


background:#ff3d8d;


color:white;


font-size:16px;

font-weight:700;


cursor:pointer;


}