.profile-completion{

background:white;

padding:25px;

border-radius:22px;

box-shadow:
0 8px 25px rgba(0,0,0,.06);

}


.completion-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}


.completion-header h2{

font-size:20px;

}


.completion-header strong{

font-size:24px;

color:#ff3d8d;

}



.completion-bar{

height:12px;

background:#eee;

border-radius:20px;

overflow:hidden;

}



.completion-bar div{

height:100%;

background:
linear-gradient(
90deg,
#ff3d8d,
#8b5cf6
);

border-radius:20px;

}



.profile-completion p{

margin-top:15px;

color:#666;

}