.sticky-profile-header{

position:fixed;

top:0;

left:0;

right:0;

height:70px;

background:white;

z-index:1000;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 24px;

border-bottom:1px solid #e5e7eb;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.sticky-left{

display:flex;

align-items:center;

gap:12px;

}



.sticky-left img{

width:42px;

height:42px;

border-radius:50%;

object-fit:cover;

}



.sticky-left h3{

margin:0;

font-size:16px;

}



.sticky-left h3 span{

color:#2563eb;

margin-left:5px;

}



.sticky-left p{

margin:2px 0 0;

font-size:13px;

color:#64748b;

}



.back-btn{

border:none;

background:none;

font-size:24px;

cursor:pointer;

}



.sticky-right button{

padding:9px 20px;

border-radius:999px;

border:none;

background:#2563eb;

color:white;

font-weight:700;

cursor:pointer;

}



.sticky-tab{

position:absolute;

bottom:-1px;

left:50%;

transform:translateX(-50%);

font-size:13px;

font-weight:700;

color:#2563eb;

}



@media(max-width:600px){

.sticky-profile-header{

padding:0 12px;

}


.sticky-left h3{

font-size:14px;

}

}