.my-communities{

background:white;

padding:20px;

border-radius:22px;

margin:20px 0;

box-shadow:
0 8px 25px rgba(0,0,0,.08);

}



.my-community-list{

display:flex;

gap:15px;

flex-wrap:wrap;

}



.my-community-card{

display:flex;

align-items:center;

gap:10px;

padding:15px;

border-radius:18px;

background:#f8f8f8;

text-decoration:none;

color:#111;

}



.my-community-card span{

font-size:30px;

}



.my-community-card h4{

margin:0;

}



.my-community-card p{

margin:5px 0 0;

font-size:13px;

color:#777;

}