.connect-btn,
.requested,
.connected{

padding:10px 18px;

border:none;

border-radius:20px;

cursor:pointer;

font-weight:600;

}



.connect-btn{

background:#ff4d8d;

color:white;

}



.requested{

background:#f1c40f;

color:white;

}



.connected{

background:#2ecc71;

color:white;

}